.clear {
    clear: both
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}

html[xmlns] .clearfix {
    display: block
}

* html .clearfix {
    height: 1%
}

.content-right div ul {
    margin-left: 20px
}

.content-right h2,
.content-right h3 {
    font-weight: 700
}

#warp {
    background-color: #fff!important;
    box-shadow: 0 2px 6px rgba(100, 100, 100, .3);
    box-sizing: border-box;
    margin-bottom: 48px;
    margin-top: 48px;
    padding: 0 20px;
    width: 100%;
    max-width: 1050px
}

.search_box {
    float: right;
    margin: 7px 20px 0 0;
    position: relative;
    width: 220px
}

.search_box input[type=text] {
    color: #666;
    margin: 0;
    padding: 5px 0 5px 30px;
    width: 190px
}

.search_box input[type=image] {
    left: 10px;
    position: absolute;
    top: 8px
}

.search_box input::-moz-placeholder {
    color: #666
}

.breadCrumb {
    margin-bottom: 20px
}

.breadCrumb a {
    color: #21759b;
    text-decoration: none
}

.breadCrumb a:hover {
    color: #515151
}

.main_content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000 #ededed #ededed;
    border-image: none;
    border-right: 1px solid #ededed;
    border-style: solid;
    border-width: 3px 1px 1px;
    float: left;
    width: 650px
}

.results_toolbar {
    padding: 3px 10px
}

.results-sort {
    float: right
}

.results-sort select {
    float: left;
    margin-right: 6px;
    width: auto
}

.results-sort label {
    float: left;
    margin-right: 6px;
    margin-top: 9px;
    font: 13px sans-serif
}

.results_list .gallery_desc {
    margin: 0;
    padding: 10px 10px 0 12px;
    width: 100%;
    box-sizing: border-box
}

.results_list .gallery_col .gallery_desc {
    width: 230px
}

.results_list .gallery_col .gallery_desc.gallery_noimg {
    width: 400px;
    margin: 0
}

.results_list .gallery_col .gallery_list {
    float: right
}

.gallery_view {
    border: 1px solid #ededed;
    border-radius: 2px;
    float: right;
    margin-top: 6px;
    padding: 0
}

.gallery_view_schedule {
    display: flex;
    margin-bottom: 5px
}

.gallery_view img {
    display: inline-block
}

.gallery_view a {
    border-left: 1px solid #ededed;
    margin: 0 2px
}

.gallery_view_schedule a {
    margin: 0
}

.gallery_view a:first-child {
    border-left: medium
}

.gallery_view a.listMode,
.gallery_view a.gridMode {
    display: inline-block;
    height: 11px;
    width: 11px
}

.gallery_view a.listMode {
    background-image: url(images/icon_gallery_view_1.png)
}

.gallery_view a.gridMode {
    background-image: url(images/icon_gallery_view_2.png)
}

.gallery_view a.scheduleListView,
.gallery_view a.scheduleListViewSelected,
.gallery_view a.scheduleGridView,
.gallery_view a.scheduleGridViewSelected {
    display: inline-block;
    height: 27px;
    width: 37px;
    background-size: cover
}

.gallery_view a.scheduleListView,
.gallery_view a.scheduleListViewSelected {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px
}

.gallery_view a.scheduleGridView,
.gallery_view a.scheduleGridViewSelected {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px
}

.gallery_view a.scheduleListView {
    background-image: url(images/icon_schedule_list_view.png)
}

.gallery_view a.scheduleListViewSelected {
    background-image: url(images/icon_schedule_list_view_selected.png)
}

.gallery_view a.scheduleGridView {
    background-image: url(images/icon_schedule_grid_view.png)
}

.gallery_view a.scheduleGridViewSelected {
    background-image: url(images/icon_schedule_grid_view_selected.png)
}

.gallery_col {
    box-sizing: border-box;
    padding: 0 40px 0 0;
    border-top: 1px solid #e2e2e2;
    display: block;
    width: 100%
}

.main_content .gallery_img {
    float: left;
    height: 200px;
    position: relative;
    width: 200px
}

.main_content .gallery_img img {
    display: block
}

.main_content .gallery_img img.no_preview_available {
    content: url(images/no_preview_available.png)
}

.main_content .gallery_col .gallery_img .count {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    left: 0;
    opacity: .6;
    padding: 1px 6px;
    position: absolute
}

.main_content .gallery_col .gallery_desc {
    margin-left: 200px
}

.main_content .gallery_col .gallery_img+.gallery_desc {
    margin-left: 0
}

.main_content .gallery_desc {
    float: left;
    margin: 0 10px 0 12px;
    padding-top: 10px;
    width: 230px
}

.main_content .gallery_desc h3 {
    color: #72bad9;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 0 0 5px
}

.main_content .gallery_desc h3 a {
    color: #72bad9;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none
}

.main_content .gallery_desc p {
    font-size: 13px;
    line-height: 18px
}

.main_content .gallery_list {
    float: left;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 160px
}

.main_content .gallery_list ul {
    margin-bottom: 10px
}

.main_content .gallery_list ul li {
    border-bottom: 1px solid #f1f1f1;
    color: #888;
    font-size: 12px;
    list-style: outside none none;
    margin: 0;
    padding: 2px 0
}

.main_content .gallery_list ul li strong {
    color: #555
}

.main_content .gallery_list ul.bullet li {
    border-bottom: medium;
    color: #555;
    font-size: 10px;
    font-weight: 700;
    list-style-type: square;
    margin-left: 10px
}

a.btn_view_entry {
    background-color: #fef3cc;
    background-image: linear-gradient(to bottom, #fef3cc, #fbdb64);
    border: 1px solid #ebd97e;
    border-radius: 2px;
    color: #333;
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
    text-transform: uppercase
}

a.btn_vote {
    background: linear-gradient(to bottom, #00b2e8, #0082be) repeat scroll 0 0 #00b2e8;
    border: 1px solid #0082be;
    color: #fff;
    margin-top: 10px;
    text-shadow: none
}

.virtualConferenceButtons {
    text-align: center
}

a.btn_virtual_conference {
    background-color: #007269;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    padding: 6px 14px;
    display: inline-block;
    margin: 10px 0;
    text-transform: uppercase
}

.gallery_grid {
    float: left;
    margin-right: 10px;
    width: 210px
}

.main_content .gallery_grid .gallery_img {
    height: 210px;
    width: 210px
}

.main_content .gallery_grid .gallery_img .count {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    opacity: .6;
    padding: 1px 6px;
    position: absolute;
    right: 0;
    top: 0
}

.main_content .gallery_grid .gallery_img .item_winner_categories {
    background: none repeat scroll 0 0 #f2f8fc;
    border-left: 5px solid #fbbd32;
    color: #b85303;
    font-size: 10px;
    font-weight: 700;
    left: 0;
    padding: 1px 6px;
    position: absolute;
    text-transform: uppercase;
    top: 0
}

.main_content .gallery_grid .gallery_desc p {
    font-size: 12px;
    font-weight: 700
}

.gallery_grid:nth-child(3n+1) {
    clear: both;
    margin-right: 10px
}

.gallery_grid:nth-child(3n+3) {
    margin-right: 0
}

.sidebar_right {
    float: right;
    width: 312px
}

.gallery_right_panel {
    background: none repeat scroll 0 0 #fff;
    border-top: 3px solid #000;
    box-shadow: 0 1px 4px 3px rgba(0, 0, 0, .15);
    margin-bottom: 20px
}

.gallery_right_panel h4 {
    border-bottom: 1px solid #e0e1e2;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    padding: 10px
}

.search_filter ul {
    margin: 0
}

.search_filter ul li {
    border-bottom: 1px dashed #ddd;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin: 0 0 10px!important
}

.search_filter ul li .head {
    background: url(images/arrow_off.png) no-repeat scroll 15px 13px #fff;
    color: #444;
    padding: 8px 10px 8px 28px
}

.search_filter ul li.active .head {
    background: url(images/arrow_on.png) no-repeat scroll 15px 13px #fff
}

.search_filter ul li .head span {
    color: #888;
    float: right;
    font-weight: 700
}

.search_filter_content {
    background: linear-gradient(to bottom, #eeeeee 0px, #ffffff 50%, #eeeeee 100%) repeat scroll 0 0 transparent;
    display: none;
    padding: 5px 10px
}

.search_filter_content label {
    color: #0075bc;
    display: block;
    line-height: 20px;
    margin-right: 10px;
    padding: 6px 0 6px 26px;
    position: relative
}

.search_filter_content label .count {
    color: #afadad
}

.search_filter_content input[type=checkbox] {
    left: 0;
    position: absolute;
    top: 6px
}

li.active .search_filter_content {
    display: block
}

.search_filter_controls {
    display: block;
    padding: 15px 0 15px 28px
}

.search_filter_controls a {
    color: #1b75c9;
    text-decoration: none
}

.application_category_filter .selected_category_controls {
    float: right
}

.application_category_filter .category_selector {
    margin: 30px 10px 15px 20px
}

.application_category_filter .category_selector li a {
    cursor: pointer
}

.search_filter ul li a {
    text-decoration: none
}

.hierarchyItemSelector>ul>li>a {
    font-weight: 700
}

.search_filter ul li ul li ul {
    margin: 10px 0 0 20px!important
}

.search_filter ul li ul li a {
    padding: 0!important;
    margin: 0
}

#content ul li {
    padding: 0
}

#content .paging {
    border-top: 1px solid #ededed;
    padding: 12px 10px
}

#content .paging h4 {
    color: #777;
    float: left;
    font-size: 14px;
    margin: 3px 0 0
}

#content .paging ul {
    display: inline;
    float: right;
    margin: 0;
    padding: 0
}

#content .paging li {
    color: #bbb;
    display: inline;
    font-weight: 700;
    list-style: outside none none;
    margin: 0;
    padding: 0
}

#content .paging li.extra {
    display: none
}

#content .paging .btn {
    color: #fff;
    font-size: .9em;
    margin: 0;
    padding: .4em .9em;
    text-shadow: none
}

#content .paging .btn-active {
    background: none repeat scroll 0 0 #615f60;
    border: 1px solid #555
}

#content .paging .pg-prev {
    padding-right: 2em
}

#content .paging .pg-next {
    padding-left: 2em
}

#content .paging .btn {
    background: linear-gradient(to bottom, #00b2e8, #0082be) repeat scroll 0 0 #00b2e8;
    border: 1px solid #0082be;
    border-radius: .3em;
    color: #fff!important;
    display: inline-block;
    text-transform: capitalize
}

#content .paging .btn[disabled]:hover,
#content .paging .btn.btn-disabled:hover {
    background: linear-gradient(to bottom, #00b2e8, #0082be) repeat scroll 0 0 #00b2e8
}

#content .paging .btn:hover {
    background: none repeat scroll 0 0 #0092c8
}

#content .btn-disabled {
    cursor: default;
    opacity: .5
}

#content .paging .btn-active {
    background: none repeat scroll 0 0 #615f60;
    border: 1px solid #555
}

.info-block {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #20a520 #ededed #ededed;
    border-image: none;
    border-right: 1px solid #ededed;
    border-style: solid;
    border-width: 3px 1px 1px;
    box-sizing: border-box;
    clear: both;
    margin: 0 0 1em;
    padding: 5px 10px 0;
    width: 100%
}

.info-block h4 {
    color: #009103;
    font-weight: 700;
    margin-bottom: 15px
}

.info-block p {
    margin-bottom: 15px
}

.info-block p a {
    color: #1b75c9;
    font-weight: 700;
    text-decoration: none
}

.more-info {
    background: url(images/arrow_off.png) no-repeat scroll right center transparent;
    padding-right: 15px
}

.wbox:before,
.wbox:after {
    content: "";
    display: table
}

.wbox:after {
    clear: both
}

.wbox {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #000 #ededed #ededed;
    border-image: none;
    border-right: 1px solid #ededed;
    border-style: solid;
    border-width: 3px 1px 1px
}

.col-lg-4 {
    box-sizing: border-box;
    float: left;
    width: 33%
}

.col-lg-12 {
    box-sizing: border-box;
    width: 100%
}

.propinfo_outer {
    margin-bottom: 30px
}

.propinfo_outer .wbox {
    margin-bottom: 0
}

.propinfo_outer+.wbox,
.videoList+.wbox {
    box-sizing: border-box;
    padding: 15px
}

.btn_rank_entry {
    text-transform: uppercase
}

.rankListButtons {
    padding: 0 0 20px 10px
}

.rankListButtons .btn {
    margin-bottom: 0
}

.results_list .btn_rank_entry {
    margin: 10px 0;
    width: 100%
}

.gallery_mainContent {
    box-sizing: border-box;
    float: left;
    padding: 5px;
    width: 608px
}

.gallery_slider .flexslider li {
    list-style: outside none none!important;
    margin: 0!important;
    padding: 0!important
}

.gallery_info {
    box-sizing: border-box;
    float: right;
    width: 338px
}

.gallery_info>.wbox {
    padding: 8px;
    margin-bottom: 30px
}

.gallery_info h3 {
    color: #474747;
    font-size: 16px;
    font-weight: 700
}

.gallery_info h4 {
    color: #474747;
    font-size: 14px;
    font-weight: 700
}

.gallery_info p {
    margin-bottom: 20px
}

.gallery_info ul {
    margin-left: 8px
}

.gallery_info .btn_view_entry {
    font-size: 14px;
    padding: 6px 0
}

.gallery_info .description {
    word-wrap: break-word
}

.gallery_details .wbox {
    margin-bottom: 30px
}

.gallery_details .wbox h2 {
    border-bottom: 1px solid #ededed;
    color: #474747;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 5px 0 5px 15px
}

.gallery_details .wbox .col-lg-4 h3 {
    color: #474747;
    font-size: 16px;
    font-weight: 700
}

.gallery_details .wbox .col-lg-4 {
    color: #474747;
    font-size: 13px;
    padding: 25px
}

.gallery_details .wbox .col-lg-4 ul li {
    color: #474747;
    font-size: 14px;
    list-style: outside none disc;
    margin-top: 5px;
    padding-left: 0
}

.gallery_details .wbox .col-lg-4 ul li:first-child {
    margin-top: 0
}

.gallery_details .wbox .col-lg-4+.col-lg-4+.col-lg-4 a {
    color: #1b75bb;
    display: block;
    font-weight: 700;
    text-decoration: none
}

.gallery_details .wbox .col-lg-12 {
    padding: 25px
}

.gallery_details .videoContainer {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px
}

.warningPanel.bg_red {
    background: rgba(237, 198, 198, .45);
    font-size: large
}

.warningPanel.bg_yellow {
    background: rgba(255, 255, 153, .45);
    font-size: large
}

footer {
    float: none;
    border-top: 1px solid #ededed;
    clear: both;
    font-size: .857143rem;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 25px 0
}

footer a {
    color: #686868;
    font-size: 12px
}

footer a:hover {
    color: #21759b
}

label.selected_category {
    padding-left: 0
}

.judgingGallery_rightContent {
    float: right;
    width: 485px;
    word-break: break-word
}

.judgingGallery_leftContent {
    float: left;
    width: 520px;
    word-break: break-word
}

.judgingGallery_leftContent h4 {
    color: #474747;
    font-size: 14px;
    font-weight: 700
}

.applicationGallery_info,
.judgingGallery_info {
    box-sizing: border-box;
    padding: 5px
}

.judgingGallery_scoreBox {
    background-color: #efefef;
    height: 70px;
    margin: 10px 0;
    text-align: center
}

.judgingGallery_scoreBox .totalScore_label {
    color: #bbb;
    font-weight: bolder
}

.judgingGallery_scoreBox .totalScore_text {
    font-size: 40px;
    font-weight: 700;
    margin: 10px
}

#evaluation>h4 {
    margin-top: 0
}

#evaluation>h4 .recuseJudge {
    font-size: smaller
}

#evaluation #recuseJudgeForm .reasonForRecusal input {
    width: 410px
}

.i_pencil {
    background-image: url(images/pencil.png)
}

.i_tick {
    background-image: url(images/tick.png)
}

.i_cross {
    background-image: url(images/cross.png)
}

.content-left .menu a.active::after {
    width: 5px;
    opacity: 1;
    right: -5px
}

.content-left .menu ul a.active {
    color: #a2a7ad
}

#bottom {
    clear: both;
}