.read-only-checkbox {
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.read-only-checkbox>div>div>label>input {
    display: none!important;
}

.read-only-checkbox>div>div>label>input+*::before {
    margin: 2px 5px 5px 0px;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: .75rem;
    height: .75rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #2e2e2e;
    background: #e6e6e6;
}
