.propinfo_outer {
    width: 70%!important;
}

.gallery_info {
    width: 29%!important;
}

a.abtn.btn-secondary {
    background: #FF5722!important;
    border-radius: 3px!important;
    font-weight: bold!important;
}

a.abtn.btn-secondary:hover {
    background: #da3400!important;
}

button.btn-dark,
a.button.btn {
    background: #072E4F!important;
    color: #fff!important;
    font-weight: bold!important;
    border-radius: 3px!important;
    margin: 0 0 14px!important;
}

button.btn-dark:hover,
a.button.btn:hover {
    background: #cfebef!important;
    color: #333!important;
    border: none!important;
}

#go-fullscreen {
    overflow: hidden;
    text-overflow: ellipsis;
}

#go-fullscreen:hover {
    background: #cfebef!important;
    color: #fff;
    border: none!important;
    font-weight: bold!important;
}

li.pg-next>a {
    border-radius: 2px!important;
    display: block!important;
    font-size: 12px!important;
    font-weight: 700!important;
    padding: 2px 0!important;
    text-align: center!important;
    text-decoration: none!important;
    text-shadow: 0 1px 1px #fff!important;
    text-transform: uppercase!important;
    border: none!important;
    color: white!important;
    background-color: #1880dc!important;
    text-shadow: none!important;
    background-image: none!important;
    transition: all 0.3s ease!important;
    height: inherit!important;
    line-height: inherit!important;
}

li.pg-next>a:hover {
    background-color: #5c9cd4!important;
}